<div class="container">
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="../../../../assets/images/design/deal-guys1.jpg" class="card-img" alt="deal">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Uma plataforma segura para comprar e vender</h5>
            <p class="card-text">
              Faça seu cadastro e conte com a comodidade e segurança da plataforma.
              Compre com segurança e os melhores preços ou venda e tenha acesso a uma plataforma completa,
              com sistema de pagamento, relatórios e alertas em tempo real.
            </p>
            <div class="card-buttons">
              <button class="button-dark" (click)="navigateToPage('cadastro/cliente')">Quero comprar</button>
              <button class="button-light" (click)="navigateToPage('cadastro/vendedor')">Quero vender</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row carousel-title">
    <h3>Quer comprar?</h3>
  </div>
  <div class="row">
    <div id="carouselBuy" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselBuy" data-slide-to="0" class="active"></li>
        <li data-target="#carouselBuy" data-slide-to="1"></li>
        <li data-target="#carouselBuy" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/images/design/gift-boxes1.jpg" class="d-block w-100" alt="gifts">
          <div class="carousel-caption">
            <h5>Variedade</h5>
            <p>Conte com uma grande diversidade de produtos, de lojas, com ótimos preços e promoções!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/design/e-commerce1.jpg" class="d-block w-100" alt="online shopping">
          <div class="carousel-caption">
            <h5>Segurança</h5>
            <p>Aproveite a segurança da plataforma, protegendo seus dados e com diversos métodos de pagamento.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/design/delivery1.jpg" class="d-block w-100" alt="delivery">
          <div class="carousel-caption">
            <h5>Entrega</h5>
            <p>Garantimos a entrega do seu produto, e em caso de qualquer problema, a devolução do seu dinheiro.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselBuy" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselBuy" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="row carousel-title">
    <h3>Quer vender?</h3>
  </div>
  <div class="row">
    <div id="carouselSell" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselSell" data-slide-to="0" class="active"></li>
        <li data-target="#carouselSell" data-slide-to="1"></li>
        <li data-target="#carouselSell" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/images/design/deal-guys2.jpg" class="d-block w-100" alt="deal">
          <div class="carousel-caption">
            <h5>Cadastre-se</h5>
            <p>Cadastre sua loja, ou venda como pessoa física, com facilidade e já comece a vender agora mesmo!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/design/money-count1.jpg" class="d-block w-100" alt="money">
          <div class="carousel-caption">
            <h5>Venda on-line</h5>
            <p>Coloque seu negócio on-line com a certeza de que seus dados estarão seguros, e seus pagamentos garantidos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/design/computer-graphics1.jpg" class="d-block w-100" alt="computer">
          <div class="carousel-caption">
            <h5>Gerencie</h5>
            <p>Conte com uma plataforma completa, que inclui relatórios e alertas em tempo real e sistema de pagamentos.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselSell" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselSell" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
