<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <input id="profile-image-upload" class="d-none" type="file" (change)="uploadImage($event)">
              <a (click)="changeProfileImage()" class="image-link">
                <img [src]="profileImageSrc" alt="profile-image" class="rounded-circle" width="150">
                <div class="rounded-circle overlay">
                  <div class="image-text">{{ imageOverlayText }}</div>
                </div>
              </a>
              <div class="mt-3">
                <h4>{{ user.firstName }}</h4>
                <p class="text-secondary mb-1">Cadastrado desde {{user.creationDate | date: 'dd/MM/yyyy'}}</p>
                <button class="btn button-dark" (click)="navigateToPage(orderRoute)">{{ orderText }}</button>
                <button class="btn button-light" (click)="updateProfile()"
                  *ngIf="isProfile">Atualizar perfil</button>
                <button class="btn btn-danger" (click)="openDeletionModal()">Desativar perfil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- Profile -->
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nome completo</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.firstName }} {{ user.lastName }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">E-mail</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.email }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">CPF</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.documentNumber | mask: documentMask }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Data de nascimento</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.birthday | date:'dd/MM/yyyy' }}
              </div>
            </div>
          </div>
        </div>
        <!-- Adressess -->
        <div class="row gutters-sm">
          <div class="col-sm-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <h5 class="card-title mb-0">Endereços</h5>
                  </div>
                  <div class="col-sm-4">
                    <button class="btn button-dark ml-auto mr-3" (click)="navigateToPage('cadastro/perfil/endereco')"><i
                      class="pi pi-plus"></i>Cadastrar endereço</button>
                  </div>
                </div>
                <hr>
                <ng-container *ngIf="addresses.length === 0">
                  <div class="row">
                    <div class="col-sm-8">
                      <h6 class="mb-0">Você ainda não possui endereços cadastrados.</h6>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="addresses.length > 0">
                  <div class="row gutters-sm" *ngFor="let address of addresses; let i=index">
                    <div class="col-sm-12">
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-9">
                              <h5 class="mb-0">Endereço {{ i + 1 }}</h5>
                            </div>
                            <div class="col-sm-3">
                              <button class="btn button-light ml-auto mr-3" (click)="updateAddress(address)">Atualizar</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">CEP</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ address.postalCode }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Rua</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ address.address }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Número</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ address.number }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Bairro e cidade</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ address.district }} - {{ address.city }} - {{ address.stateCode }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Complemento</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ address.complement }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <!-- Telephones -->
        <div class="row gutters-sm">
          <div class="col-sm-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <h5 class="card-title mb-0">Telefones</h5>
                  </div>
                  <div class="col-sm-4">
                    <button class="btn button-dark ml-auto mr-3" (click)="navigateToPage('cadastro/perfil/telefone')"><i
                      class="pi pi-plus"></i>Cadastrar telefone</button>
                  </div>
                </div>
                <hr>
                <ng-container *ngIf="telephones.length === 0">
                  <div class="row">
                    <div class="col-sm-8">
                      <h6 class="mb-0">Você ainda não possui telefones cadastrados.</h6>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="telephones.length > 0">
                  <div class="row gutters-sm" *ngFor="let telephone of telephones; let i=index">
                    <div class="col-sm-12">
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-9">
                              <h5 class="mb-0">Telefone {{ i + 1 }}</h5>
                            </div>
                            <div class="col-sm-3">
                              <button class="btn button-light ml-auto mr-3" (click)="updateTelephone(telephone)">Atualizar</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">DDD</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ telephone.localCode }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Número</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ telephone.number }}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Tipo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{ getTelephoneType(telephone.telephoneTypeId) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
