<div class="container">
  <ng-container *ngIf="step === 1">
    <form [formGroup]="productForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Atualizar produto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-row">
            <div class="form-group col-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="name">
                <mat-error *ngFor="let validation of validationMessages.name">
                  <mat-error *ngIf="pf.name.hasError(validation.type) && submitted">
                    {{ validation.message }}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Preço" formControlName="price" mask="separator.2" prefix="R$ "
                  thousandSeparator="." [specialCharacters]="[ ',' ]">
                <mat-error *ngFor="let validation of validationMessages.price">
                  <mat-error *ngIf="pf.price.hasError(validation.type) && submitted">
                    {{ validation.message }}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Quantidade em estoque" formControlName="quantity">
                <mat-error *ngFor="let validation of validationMessages.quantity">
                  <mat-error *ngIf="pf.quantity.hasError(validation.type) && submitted">
                    {{ validation.message }}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="button" (click)="submitProduct(true)">
            Atualizar detalhes
          </button>
          <button mat-raised-button color="primary" type="button" (click)="submitProduct(false)">
            Finalizar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-container>
  <ng-container *ngIf="step === 2">
    <form [formGroup]="detailForm" (ngSubmit)="submitDetail()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Detalhes do produto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h4>Selecione o detalhe que deseja atualizar</h4>
          <div class="form-row" *ngIf="selectedDetail">
            <div class="form-group col-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Rótulo" formControlName="label">
              </mat-form-field>
            </div>
            <div class="form-group col-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Conteúdo" formControlName="value">
                <mat-error *ngFor="let validation of validationMessages.value">
                  <mat-error *ngIf="df.value.hasError(validation.type) && detailSubmitted">
                    {{ validation.message }}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="!selectedDetail">
            <div class="col-12">
              <mat-list>
                <ng-container *ngFor="let detail of product.details">
                  <mat-list-item>
                    <a (click)="selectDetail(detail)">
                      <strong>{{ detail.label }}:</strong> {{ detail.value }}
                    </a>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </ng-container>
              </mat-list>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" *ngIf="selectedDetail">
            Atualizar
          </button>
          <button mat-raised-button color="primary" type="button" (click)="updateProduct(true)">
            Atualizar imagens
          </button>
          <button mat-raised-button color="primary" type="button" (click)="updateProduct(false)">
            Finalizar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-container>
  <ng-container *ngIf="step === 3">
    <form [formGroup]="imageForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Imagens do produto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h4>Clique na imagem que deseja atualizar</h4>
          <div class="form-row" *ngIf="selectedImage">
            <div class="form-group col-12 col-md-6">
              <input formControlName="file" id="file" type="file" class="form-control" (change)="uploadImage($event)"
                [ngClass]="{ 'is-invalid': imageSubmitted && imgf.file.errors }">
              <div *ngFor="let validation of validationMessages.file" class="invalid-feedback">
                <div *ngIf="imgf.file.hasError(validation.type) && imageSubmitted">
                  {{ validation.message }}
                </div>
              </div>
            </div>
            <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
          </div>
          <div class="row" *ngIf="!selectedImage">
            <div class="col-12">
              <carousel>
                <slide *ngFor="let image of product?.images">
                  <a (click)="selectImage(image)">
                    <img [src]="image.image | bypassSanitizer: 'url'" alt="product-image-slide"
                      style="display: block; width: 300px; height: 300px;">
                  </a>
                </slide>
              </carousel>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="submitImage()">Cadastrar</button>
          <button mat-raised-button color="primary" type="button">Finalizar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-container>
</div>
