<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="product-content product-wrap clearfix product-detail">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="product-image">
          <carousel>
            <slide *ngFor="let image of product?.images">
              <img [src]="image.image | bypassSanitizer: 'url'" alt="product-image-slide" style="display: block; width: 500px; height: 500px;">
            </slide>
          </carousel>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="name">
          {{ product?.name }}
          <small *ngIf="!management">Enviado e vendido por <a (click)="goToStoreProfile()">{{ store?.name }}</a></small>
        </h2>
        <hr />
        <h3 class="price-container">
          {{ product?.price | currency }}
        </h3>
        <hr />
        <div class="description description-tabs">
          <h3>
            Especificações
          </h3>
          <ul>
            <li *ngFor="let detail of product?.details">
              <b>{{ detail.label }}: </b>{{ detail.value }}
            </li>
          </ul>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <a class="btn btn-success btn-lg" (click)="openCartModal(product)" *ngIf="!management">Adicionar ao carrinho</a>
            <a class="btn btn-success btn-lg" (click)="updateProduct()" *ngIf="management">Atualizar produto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
