<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Relatório de receitas</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-12 col-md-10">
          <mat-form-field class="full-width">
            <mat-select placeholder="Filtrar por tipo de usuário" formControlName="reportTypeId">
              <mat-option *ngFor="let type of reportTypes" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of validationMessages.reportTypeId">
              <mat-error *ngIf="f.reportTypeId.hasError(validation.type) && submitted">
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-12 col-md-2">
          <button mat-raised-button color="primary" type="submit">Selecionar</button>
        </div>
      </div>
    </form>
    <div class="col-12">
      <app-table [addButton]="false" [dateFilter]="true" [columns]="columns" [headers]="headers" [data]="reports" (dateFilterSent)="filterByDateRange($event)" (dateFilterReset)="clearFilter()"></app-table>
    </div>
  </div>
</div>
