<div class="container">
  <div class="title">
    {{ data.title }}
  </div>
  <div class="content">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-12 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Quantidade</mat-label>
            <input matInput formControlName="quantity" type="number" min="1" />
            <mat-error *ngFor="let validation of validationMessages.quantity">
              <mat-error
                *ngIf="f.quantity.hasError(validation.type) && submitted"
              >
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div>
      <ng-container *ngFor="let button of data.buttons">
        <div class="button">
          <button class="btn button-dark" (click)="buttonClick(button.text)">
            {{ button.text }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
