// SIDENAV

.mat-drawer {
  top: auto !important;
  bottom: auto !important;
}

.sidenav-container {
  margin-top: -15px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

// PRODUCTS GRID

a {
  cursor: pointer;
}

.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}

.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}

.product-box__image {
  text-align: center;
  padding: 90px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;

  img {
    width: 200px;
    height: 200px;
  }
}

.product-box__image.xl {
  padding: 120px 0;
}

.product-box__description {
  padding: 20px;
  position: relative;
}

.product-box__name {
  font-size: 14px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}

.product-box__name:hover,
.product-box__name:focus {
  color: #1ab394;
}

.product-box__price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}

.product-box {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.product-box:after,
.product-box:before {
  display: table;
}

.product-box__content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
