<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            [ INFO ]
          </div>
          <div class="product-desc">
            <span class="product-price">
              $10
            </span>
            <small class="text-muted">Category</small>
            <a href="#" class="product-name">Product</a>
            <div>
              <a href="#" class="btn btn-outline btn-primary">Adicionar ao carinho</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            [ INFO ]
          </div>
          <div class="product-desc">
            <span class="product-price">
              $10
            </span>
            <small class="text-muted">Category</small>
            <a href="#" class="product-name">Product</a>
            <div>
              <a href="#" class="btn btn-outline btn-primary">Adicionar ao carinho</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            [ INFO ]
          </div>
          <div class="product-desc">
            <span class="product-price">
              $10
            </span>
            <small class="text-muted">Category</small>
            <a href="#" class="product-name">Product</a>
            <div>
              <a href="#" class="btn btn-outline btn-primary">Adicionar ao carinho</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            [ INFO ]
          </div>
          <div class="product-desc">
            <span class="product-price">
              $10
            </span>
            <small class="text-muted">Category</small>
            <a href="#" class="product-name">Product</a>
            <div>
              <a href="#" class="btn btn-outline btn-primary">Adicionar ao carinho</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
