<div class="container">
  <div class="row">
    <ng-container *ngFor="let product of products">
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-box__content">
            <div class="product-box__image">
              <img [src]="product.imageList[0].image | bypassSanitizer: 'url'" alt="product-image">
            </div>
            <div class="product-box__description">
              <span class="product-box__price">
                {{ product.price | currency }}
              </span>
              <small class="text-muted">{{ product.productSubtype.name }}</small>
              <a class="product-box__name" (click)="showProductDetails(product)">{{ product.name }}</a>
              <div>
                <a class="btn btn-outline btn-primary" (click)="openCartModal(product)">Adicionar ao carinho</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
