<div class="container">
  <h3 class="card-header">Cadastro de endereço</h3>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-5">
          <label>CEP</label>
          <input type="text" formControlName="postalCode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" [mask]="00000-000" />
          <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
            <div *ngIf="f.postalCode.errors.required">Digite o cep</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Logradouro</label>
          <input type="text" formControlName="address" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Digite o endereço</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Número</label>
          <input type="number" formControlName="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
          <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
            <div *ngIf="f.number.errors.required">Digite o número</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Bairro</label>
          <input type="text" formControlName="district" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.district.errors }" />
          <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
            <div *ngIf="f.district.errors.required">Digite o nome do bairro</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Cidade</label>
          <input type="text" formControlName="city" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">Digite o nome da cidade</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Estado</label>
          <input type="text" formControlName="stateCode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.stateCode.errors }" />
          <div *ngIf="submitted && f.stateCode.errors" class="invalid-feedback">
            <div *ngIf="f.stateCode.errors.required">Digite o estado</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Complemento (opcional)</label>
          <input type="text" formControlName="complement" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.complement.errors }" />
        </div>
      </div>
    </form>
  </div>
</div>
