<div class="container">
  <h3 class="card-header">Criar nova senha</h3>
  <div class="card-body">
    <div *ngIf="!tokenStatus">
      Link expirado! Se você ainda precisa recuperar sua senha, você pode solicitar novamente no botão abaixo:
      <br>
      <button (click)="navigateToPage('auth/esqueci-a-senha')" class="btn btn-link">Solicitar novo link</button>
    </div>
    <ng-container *ngIf="tokenStatus">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Senha</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Digite a senha</div>
            <div *ngIf="f.password.errors.pattern">
              A senha deve possuir de 8 a 16 caracters e conter ao menos um número, uma letra maiúscula e uma minúscula.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirmar Senha</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirme a senha</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">As senhas devem ser iguais</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">
            Cadastrar nova senha
          </button>
          <button (click)="navigateToPage('auth/login')" class="btn btn-link">Cancelar</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
