<div class="container">

  <p-table [value]="users" [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} usuários"
    [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedUser" dataKey="userId">
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of cols">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user" (click)="selectUser()">
        <td *ngFor="let col of cols">
          {{ user[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
