@import "../../../assets/sass/config.scss";

.material-icons {
  font-size: 20px;
}

nav {
  background-color: $c-primary;
}

.navbar-brand {
  color: $c-black;
  cursor: pointer;
}

.nav-item {
  a {
    color: $c-dark;
  }

  a:hover {
    color: $c-black;
  }
}

.nav-link {
  cursor: pointer;
}
