<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" (click)="navigateToPage('loja/produtos')">E-commerce System</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav">
      <ng-container *ngFor="let option of options">
        <li class="nav-item">
          <a class="nav-link" (click)="navbarClick(option)">
            <i class="material-icons">
              {{ option.icon }}
            </i>
            <span>
              {{ option.name }}
            </span>
          </a>
        </li>
      </ng-container>
      <li class="nav-item dropdown">
        <a class="nav-link" (click)="toggleProductsDropdown()">
          <i class="material-icons">
            category
          </i>
          <span>
            Produtos
          </span>
        </a>
        <ul class="dropdown-menu multi-level" role="menu" [ngClass]="{ 'show': productsDropdownOpen }">
          <li class="dropdown-item"><a (click)="searchByQuantity()">Todos</a></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-submenu">
            <ng-container *ngFor="let type of productTypes">
              <a class="dropdown-item" tabindex="-1" (mouseenter)="showProductTypeSubmenu(type.productTypeId)">{{ type.name }}</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item" *ngFor="let subtype of productSubtypes">
                  <a tabindex="-1" (click)="getProductsBySubtype(subtype)">{{ subtype.name }}</a>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </li>
    </ul>
    <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="form-inline ml-auto">
      <input class="form-control mr-sm-2" formControlName="searchField" type="search" placeholder="Pesquisar produto">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
    <ng-container *ngIf="!authentication.authenticated">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToPage('auth/login')">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openRegistrationModal()">Cadastre-se</a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="authentication.authenticated">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="nav-link">Autenticado</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </ng-container>
  </div>
</nav>
