<div class="container">
  <h3 class="card-header">Esqueci a senha</h3>
  <h6>Informe o e-mail usado no cadastro, e lhe enviaremos as instruções.</h6>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>E-mail</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Digite o e-mail</div>
          <div *ngIf="f.email.errors.email">Digite um e-mail válido</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          Enviar
        </button>
        <button (click)="navigateToPage('/auth/login')" class="btn btn-link">Cancel</button>
      </div>
    </form>
  </div>
</div>
