<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h3>Lojas</h3>
    </div>
    <div class="p-toolbar-group-right" *ngIf="isStoreAdmin">
      <button class="btn button-dark" (click)="registerStore()"><i class="pi pi-plus"></i>Cadastrar loja</button>
    </div>
  </p-toolbar>

  <p-table [value]="stores" [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} lojas" [rowsPerPageOptions]="[10,25,50]"
    selectionMode="single" [(selection)]="selectedStore" dataKey="storeId">
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of cols">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-store>
      <tr [pSelectableRow]="store" (click)="selectStore()">
        <td *ngFor="let col of cols">
          {{ store[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">{{emptyMessage}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
