@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/nova/theme.css";
@import "./assets/sass/config.scss";

.modal-content {
  border: none;
}

/* Default buttons */
.button-dark {
  background-color: $c-dark;
  color: $c-white;
  margin: 5px;
  outline: none;
}

.button-dark:hover {
  color: $c-white;
  background-color: $c-light;
}

.button-light {
  background-color: $c-white;
  color: $c-dark;
  border: 1px solid $c-dark;
  margin: 5px;
  outline: none;
}

.button-light:hover {
  color: $c-white;
  background-color: $c-light;
}

.button-red {
  color: red;
  background-color: $c-white;
  border: 1px solid red;
}

.button-red:hover {
  color: $c-white;
  background-color: red;
}

button i {
  margin-right: 5px;
}
