<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="grid invoice">
        <div class="grid-body">
          <div class="invoice-title">
            <div class="row">
              <div class="col-12">
                <h2>
                  Pedido #{{ order?.orderId }}
                </h2>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr class="line">
                    <td class="text-center"><strong>Item</strong></td>
                    <td class="text-center"><strong>Quantidade</strong></td>
                    <td class="text-right"><strong>Preço</strong></td>
                    <td class="text-right"><strong>Subtotal</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td class="text-center"><strong>{{ product?.name }}</strong></td>
                    <td class="text-center">{{ product?.orderQuantity }}</td>
                    <td class="text-right">{{ product?.price | currency }}</td>
                    <td class="text-right">{{ product?.price * product?.orderQuantity | currency }}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="text-right"><strong>Total</strong></td>
                    <td class="text-right"><strong>{{ order?.finalPrice | currency}}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">Já recebi meu pedido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
